modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 45627
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dhepil"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "dhepil"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:dhepil:3000"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview:5000"]
build = ["npm", "run", "build"]
